<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  
    <!-- Custom CSS -->
    <link href="/css/basic.css" rel="stylesheet">
	
 <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
		//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		//]]>
  </script>

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
								<div>
									 <a class="navbar-brand" href="#">GokuWiki</a>
								</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Management</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                </ul>
								<ul class="nav navbar-nav navbar-right">
										<li>
											<div class="vcenter">
												<form name="searchform" id="searchform">
													<input type="text" name="searchtitle" id="searchtitle">
													<button onclick="searchthis()" class="btn btn-primary buffered " type="reset">Search</button>
												</form>
											</div>
									</li>
								</ul>
            </div>
        </div>
    </nav>

        <!-- Page Content -->
        <div class="edit-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <h1>Editing : {{.Title}}</h1>
                      <form name="form" id="form">
                      <div>
												</div>
                        {{range .Nuerons}}
                      	<div><input type="text" name="dname" value="{{.Title}}"><div>
													<div><textarea id="content" name="content" class="boxsizingBorder" ng-model="item.content">{{.Content}}</textarea></div>
													 <input type="hidden" name="parent" value="{{.Parent}}">
													<button onclick="res()" class="btn btn-primary buffered" type="submit">Save</button>
												</div>
											</div>
                      {{end}}
                      </form>
										</div>
                  </div>
							</div>
                      
                      
                      
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

      
    <script type="text/javascript">
			res = function() {
				var c = $('form').serializeArray();
				var d = {
						'uid':{{.Uid}},
						'title': c[1].value,
						'parent':c[3].value,
						'contentType': 0,
						'content': nicEditors.findEditor('content').getContent(),
						'tags' :[c[1].value],
						'synapse' :[]
				}
				d = JSON.stringify(d);
				$.post(("http://wiki.rebirtharmitage.com:8085/subprocess/"), d, function(data, status) {
							window.location.href = ("http://wiki.rebirtharmitage.com:8085/view/" + c[3].value);
				});	
			}
      </script>
</body>

</html>