<!DOCTYPE html>
<html lang="en" ng-app>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gokuwiki : {{.Title}}</title>
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/basic.css" rel="stylesheet">
	
<!-- 		<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
			bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		</script> -->
	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
								<div>
									 <a class="navbar-brand" href="#">GokuWiki</a>
								</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Management</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                </ul>
								<ul class="nav navbar-nav navbar-right">
										<li>
											<div class="vcenter">
												<form name="searchform" id="searchform">
													<input type="text" name="searchtitle" id="searchtitle">
													<button onclick="searchthis()" class="btn btn-primary buffered " type="reset">Search</button>
												</form>
											</div>
									</li>
								</ul>
            </div>
        </div>
    </nav>
<div class="edit-container">		
		<div class="container">
			<div class="row" ng-controller="Note">
				<div class="col-lg-12">
					<h1>Editing : {{.Title}}</h1>
					<form>
						<div ng-repeat="item in items">
						<div>
							<h4>
								Node Title
							</h4>	
						</div>
						<div><input type="text" name="dname" ng-model="item.dname"></div>
						<div>
							<h4>
								Node Content
							</h4>	
						</div>
						<div><textarea name="content" class="boxsizingBorder" placeholder="Node Content" ng-model="item.content"></textarea></div>	
						<div>
							<hr>
						</div>
						</div>
						<button ng-click="add()" class="btn btn-primary buffered">Add Node</button><button ng-click="res()" class="btn btn-primary buffered" type="submit">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>

    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap.min.js"></script>

		<script type="text/javascript">
       function searchthis(){    
					var a = $('#searchtitle').val();
				 	var url = "http://wiki.rebirtharmitage.com:8085/view/" + a;
				  window.location.href = url;
				}
		</script>

    <script type="text/javascript">
        var Note = function($scope) {
          $scope.items = [];
          $scope.add = function() {
            if ($scope.items.length < 4) {
              $scope.items.push({
                dname: "",
                content: ""
              });
							var ct = new nicEditor({fullPanel : true}).panelInstance('content');
            } else {
              alert("Too many targets.")
            }
          }

          $scope.res = function() {
						for (var i = 0; i < $scope.items.length; i++){
							var a = {{.Uid}} + i;
							var d = {
								'uid': a,
								'title':$scope.items[i].dname,
								'parent':{{.Title}},
								'contentType':$scope.items[i].contentType,
								'content': $scope.items[i].content,
								'tags' :[{{.Title}}],
								'synapse' :[]
							};
							d = JSON.stringify(d); 
							$.ajax({url: "http://wiki.rebirtharmitage.com:8085/process/", type: 'POST', data:d, async:false, success: function(data, result){}});
						}
						window.location.href = ("http://wiki.rebirtharmitage.com:8085/view/" + {{.Title}});
					}
        }
      </script>
	</body>

</html>